<!--The content below is only a placeholder and can be replaced.-->

<li style="text-align:center">
  <h1>
    Auta kielentutkijaa! Kuvaile merkitystä!
  </h1>
  <!--
  <img width="300" src="assets/images/Mymble.jpg"/>
  -->
  <p>
    Tarkastelen väitöskirjassani erästä suomen kielen kieliopillista konstruktiota,
    ns. olla tekemässä -rakennetta.
    Tarvitsen sinua kertomaan, mitä rakenne sinulle merkitsee!
  </p>

  <p>
    Alla näet 12 internetistä poimittua tekstikatkelmaa, joissa rakenne esiintyy:<br>

  <div class="slider">
    <ul>
      <li id="no-js-slider-1" class="slide">
      <img src="assets/images/oletkomatkustamassa.jpg">
        <a class="prev" href="#no-js-slider-2">prev</a>
        <a class="next" href="#no-js-slider-2">next</a>
      </li>

    <li id="no-js-slider-2" class="slide">
      <img src="assets/images/Mymble.jpg">
      <a class="prev" href="#no-js-slider-1">prev</a>
      <a class="next" href="#no-js-slider-1">next</a>
    </li>
    </ul>
  </div>
  <br>

    <ul>
      <li>
        oletko matkustamassa
  </li>
  <li>
  olen leipomassa
  </li>
  <li>
    olen pesemässä
  </li>
  <li>
    olet ostamassa
  </li>
  <li>
    ei ole kieltämässä
  </li>
  <li>
    en ole kirjoittamassa
  </li>
  <li>
    emme ole syömässä
  </li>
  <li>
    olen hakemassa
  </li>
  <li>
    et ole ottamassa
  </li>
  <li>
    oletko tulossa
  </li>
  <li>
    oletpa menossa
  </li>
  <li>
    olet muuttamassa
  </li>
</ul>
  <p>
    <b>Tehtävä:</b> Tarkastele tekstikatkelmia. Kohdissa, joissa rakenne esiintyy, voisi periaatteessa myös lukea "matkustatko, leivon, pesen, ostat" jne., mutta kirjoittaja on kuitenkin halunnut käyttää olla tekemässä -tyyppistä ilmaisurakennetta.
      Mistä tämä voisi johtua? Toisin sanoen:
  </p>
  <p>
    Millaisia merkityksiä ja merkityssävyjä kirjoittajien valitsemaan ilmaisurakenteeseen mielestäsi sisältyy?
  </p>
  <p>
    Kysymykseen ei ole oikeaa vastausta! Kaikenlainen arvelu, pohdiskelu, filosofointi, mutu-tekniikka, tajunnanvirta, oikeinkirjoituksesta viisveisaaminen, ranskalaiset viivat, innostuneet esseet, lyhyet vastahakoiset vastaukset tai yleinen ihmettely ovat kaikki tervetulleita!
  </p>
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
-->

